@model IEnumerable<PartsInParcels.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products:</h2>

<div class="container">
    @{ 
        int itemCount = 0;
    }

    @while (itemCount < 3)
    {
        foreach (var item in Model)
        {
            if (itemCount % 2 == 0)
            {
                @:<div class="row">
            }

            <div class="col s12 m6">
                <div class="card small">
                    <div class="card-image">
                        <img src="~/Content/images/prosciutto.jpg" />
                        <span class="card-title">@Html.DisplayNameFor(model => model.Name)</span>
                    </div>
                    <div class="card-content">
                        <p>@</p>
                    </div>
                </div>
            </div>
        }
    }
</div>
