* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.brand-logo {
    display: inline-block;
    height: 100%;
}

.brand-logo>img {
    vertical-align: middle;
}

#pig-icon {
    height: 25px;
}